.main {
    /* margin-top: 200px; */
    width: 100%;
    height: 500px;
    background-image: linear-gradient(to bottom right, rgba(182, 222, 250, 0.411), rgba(249, 84, 84, 0.329));
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.orderBtns{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.orderNow h2{
    margin-top: 2rem;
    font-weight: 700;
}
.orderNow h2 span{
    color: #e0534b;
    font-size: 20px;
}
.text-content {
    flex: 1;
    max-width: 500px; 
}

.new-arrivals {
    font-weight: bold;
    color: #ff5e57; 
}

.collection-title {
    font-size: 2.5rem;
    margin: 10px 0;
    line-height: 1.2;
}

.btn-collection {
    background-color: #ff5e57; 
    border: none;
    border-radius: 25px;
    width: 200px;
    padding: 0.7rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
}

.btn-collection:hover {
    background-color: #e0534b;
    transform: translateY(-2px); 
}

.img-men {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-image: url(../images/men/men.png);
    background-position: center;
    background-size: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px; 
}

.main h6 {
    font-weight: bold;
    margin-bottom: 10px; 
}

.main-banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flat-discount {
    width: 800px;
    height: 200px;
    background-image: linear-gradient(to right, rgba(252, 196, 196, 0.742), white);
    border: 1px solid white;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flat-discount span, h1 {
    color: orange;
}

.image-women {
    width: 250px;
    height: 200px;
    background-image: url(https://fakestoreapi.com/img/61pHAEJ4NML._AC_UX679_.jpg);
    background-position: top;
    background-size: cover;
    mix-blend-mode: multiply;
}

.men-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}
@media screen and (max-width: 600px){
    .main{
        height: 700px;
        display: flex;
        flex-wrap: wrap-reverse;
        margin-top: 30px;
        align-items: center;
        justify-content: center;
        
    }
    .text-content{
        display: flex;        
        justify-content: center;
        flex-direction: column;
        margin-left: 20%
    }
    .flat-discount{
        width: 350px;
    }
    .flat-discount h1{
        font-size: 20px;
    }
    .flat-discount .disc{
        margin-left: 20px;
    }
    .product-img{
        margin-left: 0 !important;
    }
}